@model IQueryable<Book>
@{
	Layout = "_Layout";
}

@foreach(var book in Model)
{
	<ul class="list-group">
		<li class="list-group-item">Title: @(book.Title)
			<form asp-action="Delete" asp-controller="Book" asp-route-id="@book.Id" method="post">
				<input type="hidden" name="id" value="@book.Id" />
				<input type="submit" class="btn btn-danger" value="Delete" />
			</form>
		</li>
		<li class="list-group-item">Author: @(book.Author)</li>
		<li class="list-group-item">Co-authors: @(book.CoAuthors)</li>
		<li class="list-group-item">Publication date: @(book.PublicationDate.ToString("dd-MM-yy"))</li>
		<li class="list-group-item">Categories:
			@foreach(var cat in book.Categories)
			{
				<span>@(cat.CategoryName + ", ")</span>
			}
		</li>
		<li class="list-group-item">Book Copies:
			@foreach (var copy in book.BookCopies)
			{
				<span>@(copy.Id + " ")</span>
			}
		</li>
	</ul>
	<br />
}